<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629815991436-3874erejovda8ursp6sej8ombfig9t0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629815991436-3874erejovda8ursp6sej8ombfig9t0c</string>
	<key>API_KEY</key>
	<string>AIzaSyDaLsFg3F4WZaoh1DV798vERZr_dixiP_0</string>
	<key>GCM_SENDER_ID</key>
	<string>629815991436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eg.com.iti.VictoryLinkTask</string>
	<key>PROJECT_ID</key>
	<string>victorylinktask-d2763</string>
	<key>STORAGE_BUCKET</key>
	<string>victorylinktask-d2763.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629815991436:ios:d781e86569ed0d54b36fa9</string>
	<key>DATABASE_URL</key>
	<string>https://victorylinktask-d2763.firebaseio.com</string>
</dict>
</plist>